{% extends "base.html" %}


{% block 'content' %}
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<form method='post' enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group form-inline">
      <div class="form-group col-lg-6 col-md-12 name">
        <input type='hidden' name='user' value={{request.user.id}}>
        <input type="text" class="form-control" name="first_name" placeholder="Enter First Name"
          onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Name'" >
      </div>
      <div class="form-group col-lg-6 col-md-12 email">
        <input type="text" class="form-control" name="last_name" placeholder="Enter Last Name"
          onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'">
      </div>
    </div>
    <div class="form-group">
      <input type="file" class="form-control" name="image" placeholder="Your Image"
        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Subject'">
    </div>
    <div class="form-group">
    <input type="number" class="form-control" name="phone" placeholder="Enter Phone"
    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Subject'">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="address" placeholder="Enter Address"
        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Subject'">
    </div>
    <button type='submit' class="primary-btn text-uppercase">Complete Profile</button>
  </form>
  {% endblock 'content' %}
<br><br><br>