{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block 'title' %}trainer{% endblock 'title' %}
{% block 'content' %}


  <main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>Trainers</h2>
        <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          {% for tr in trainer %}
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src={{tr.image.url}} class="img-fluid" alt="">
              <div class="member-content">
                <h4>{{tr.info.username}}</h4>
                {% for sk in tr.skills.all %}
                <span>{{sk.name}}</span>
                {% endfor %}
                <p>
                  {{tr.description}}
                </p>
                <div class="social">
                  <a href={{tr.twitter}}><i class="bi bi-twitter"></i></a>
                  <a href={{tr.facebook}}><i class="bi bi-facebook"></i></a>
                  <a href={{tr.instagram}}><i class="bi bi-instagram"></i></a>
                  <a href={{tr.linkdin}}><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>

      </div>
    </section><!-- End Trainers Section -->

  </main><!-- End #main -->
{% endblock 'content' %}